
#title {
    display: flex;
    position: relative;
    top: 5px;
    left: 250px;
    Color: blue;
    font-size: 50px;
    font-weight: bolder;
}

#subTitle {
    display: flex;
    position: relative;
    top: 5px;
    left: 500px;
    Color: blue;
    font-size: 25px;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
.group {
  float: right;
  margin: 0 1.5%;
  width: 75%;
}
.control {
  float: left;
  margin: 0 1.5%;
  width: 25%;
}