#headerDiv {
    border: 1px solid black;
    background-color: rgba(28,110,164,0.6);
    font-size: 25px;
    width: 100%;
    height: 125px;
    position: relative;
    top: 0;
    right: 0px;
    left: 0;
    padding: 10px;
    text-align: center;
}

#shuffleButton {
    position: absolute;
    right: 20px;
}

aside {
    background-color: rgba(28,110,164,0.6);
    width: 26%;
    height: 83.5%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#previousSearch {
    text-align: center;
    width: 50%;
    height: auto;
    font-weight: bold;
    font-size: 22px;
    margin-top: 25px;
}


#tryAgain {
    position: absolute; 
    right: 20px;
}

section {
    width: 80%;
    height: 83%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}


#resultsPhoto {
    font-size: large;
    top: 0;
    position: absolute;
    padding: 10px;
    
}

#recTitle {
font-size: large;
top: 10;
position: absolute;
padding: 10px;

}

#ingList {


}

#actRecipe {


}